<div class="container">
  <div class="mb-3">
    <label class="form-label">Valor a pagar</label>
    <input type="number" class="form-control" name="mount" [(ngModel)]="mount">
  </div>

  <div class="mb-3">
    <form action="">
      <input class="form-control" placeholder="Card Number" type="text"name="cardnumber" [(ngModel)]="cardnumber">
      <input class="form-control" placeholder="Full Name" type="text" name="fullname" [(ngModel)]="fullname">  
      <input class="form-control" placeholder="MM" type="text" name="mm" [(ngModel)]="mm">
      <input class="form-control" placeholder="YY" type="text" name="yy" [(ngModel)]="yy">
      <input class="form-control" placeholder="CVC" type="password" name="cvc" [(ngModel)]="cvc">
      <button class="btn btn-primary" id="submit" (click)="getToken()">Pagar ${{mount}}</button>
    </form>
  </div>
</div>

